.WeatherForecast {
  text-align: center;
  font-weight: 600;
}

.WeatherForecast-temperature-min {
  opacity: 0.8;
}

@media (min-width: 320px) {
  .WeatherForecast {
    font-size: calc(0.9375rem + ((1vw - 3.2px) * 0.3175));
    min-height: 0vw;
  }
}
@media (min-width: 1265px) {
  .WeatherForecast {
    font-size: 18px;
  }
}
